/*body
{
    background-image:url('../images/pic/check.png');
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;
}
div#outer {width: 500px;}
div#inner {text-indent: 10%;}
p {
    width: 200px;
    text-decoration: underline overline;
}
p.stricken{
    text-decoration: line-through; *//*空心原点*//*
}
.a{
    list-style-type: circle; *//*空心原点*//*
}
.b{
    list-style-type: square;     *//*实心方块*//*
}
.c{
    list-style-type: upper-roman;*//* 大写1 2 3 *//*
}
.d{
    list-style-type: lower-alpha;*//*小写字母*//*
}*/
a{

}
a:link img {
    border-style: outset;
    border-width: 20px;
}

