h1{
    font-size: 20px;
    position: relative;
    top: 12px;
}
span{
    color: red;
    position: relative;
    top: 25px;
}
.report_table {
    overflow-x: auto;
    overflow-y: auto;
    padding: 5px 35px;
    position: relative;
    top: 35px;
}