.tittle{
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
}
.a{
    text-align: center;
    margin-top: 30px;
}
.a ul li{
    margin: 5px auto;
    height: 22px;
    line-height: 22px;
}
.a span{
    margin-left: 20px;
    margin-right: 10px;
}
.a input{
    width: 150px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #cccccc;
    margin-right: 10px;
}
.a a{

}
.a a:hover{

}
.a .botton{
    color: #cccccc;
}