.basket{
    height: 26px;
    border: 1px solid #efefef;
    float: right;
}
.basket .basketinner{
    height: 26px;
    background-color: #f7f7f7;
    padding: 0 4px;
}
.basket.popup{
    border-color: #c0c0c0;
}
.basket.popup .basketinner{
    position: relative;
    height: 28px;
    background-color: #fff;
    z-index: 201;
}
.basket .ico{
    position: relative;
    width: 26px;
    height: 26px;
    background: url(../images/basket/basket.png) no-repeat left top;
    float: left;
 }
.basket .ico .counter{
    position: absolute;
    height: 24px;
    top: -15px;
    left: 15px;
    padding-left: 5px;
    background: url(../images/basket/basket.png) no-repeat -36px top;
}
.basket .ico .counter span{
    display: block;
    height: 24px;
    line-height: 20px;
    padding-right: 5px;
    background: url(../images/basket/basket.png) repeat-x bottom right;
    color: #ffffff;
}
.basket .text{
    height: 26px;
    float: left;
}
.basket .text span{
    padding: 0 5px;
    font-size: 14px;
    line-height: 26px;
}
.basket .arrow{
    width: 10px;
    height: 26px;
    background: url(../images/basket/basket.png) no-repeat -26px top;
    float: left;
}
.basketpanel{
    position: absolute;
    border: 1px solid #c0c0c0;
    background-color: #ffffff;
    width: 300px;
    display: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    z-index: 200;
}
.basketpanel .baskettitle{
    border: 1px solid #fff;
    border-bottom-color: #eee;
    height: 28px;
}
.basketpanel .baskettitle label{
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    padding-left: 12px;
}
.basketpanel .basketlist{
    border: 1px solid #fff;
    border-bottom-color: #eee;
    max-height: 300px;
    overflow: auto;
}
.basketpanel .basketlist ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.basketpanel .basketlist ul li{
    height: 65px;
    padding: 8px 8px 0 12px;
    border-bottom:1px solid #eee;
}
.basketpanel .basketlist ul li.last{
    border-bottom:none;
}
.basketpanel .basketlist ul li .photograph{
    width: 60px;
    float: left;
}
.basketpanel .basketlist ul li .text{
    width: 150px;
    height: 52px;
    float: left;
}
.basketpanel .basketlist ul li .text span{
    line-height: 17px;
    word-break: break-all;
}
.basketpanel .basketlist ul li .opreat{
    float: right;
}
.basketpanel .basketlist ul li .opreat a{
    color: #005EA7;
    text-align: right;
    padding-right: 8px;
    text-decoration: none;
    cursor: pointer;
}
.basketpanel .basketlist ul li .opreat a:hover{
    text-decoration: underline;
}
.basketpanel .basketlist ul li .photograph .photo{
    width: 50px;
    height: 40px;
    margin: 5px 10px 5px 0;
    border: none;
}
.basketpanel .basketopreat{
    height: 40px;
    background-color: #f5f5f5;
    border: 1px solid #fff;
    border-top: none;
}