.tittle{
    margin: 10px auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.alist{
    text-align: center;
    width: 800px;
}
.alist ul{
    list-style: none;
}
.alist ul li{
    display: inline-block;
    width: 100px;
}
a{
    text-decoration: none;
    color: #333;
}
.alist ul li.ulist{
    width: 255px;
    float: left;
    margin-top: 10px;
}
.alist ul li label{
    height: 26px;
    line-height: 26px;
}
.alist ul li input.aaa{
    width: 150px;
    float: right;
}


