.eqphoto {
    width: 200px;
    height: 250px;
    float: left;
    margin: 7px 10px 0 230px;
}
.table table td a{
    cursor: pointer;
}
.table table td a:visited{
    color: #333;
}
.table table td a:link{
    text-decoration: none;
    color: #333;
}
.table table td a:hover{
    color: #0000FF;
    text-decoration: underline;
}
.select_btn{
    margin-bottom: 80px;
    margin-left: 225px;
}