.eqphoto {
    width: 235px;
    height: 176px;
    float: left;
    margin: 40px 10px 0 35px;
}
.eqphoto img{
    width: 280px;
    height: 216px;
}
.table table td a{
    cursor: pointer;
}
.table table td a:visited{
    color: #333;
}
.table table td a:link{
    text-decoration: none;
    color: #333;
}
.table table td a:hover{
    color: #0000FF;
    text-decoration: underline;
}
.select_btn{
    margin-bottom: 80px;
    margin-left: 138px;
}