.left{
    float: left;
}
.navigation{
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.labhead{
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-color: #9fbced;
    text-align: center;
    float: left;
    border-radius: 4px;
}
.return{
    width: 50px;
    height: 20px;
    line-height: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    float: right;
    text-align: center;
    margin-top: 11px;
    border-radius: 2px;
}
.tool_bg{
    height: 28px;
    background-color: #9fbced;
    padding: 7px 10px;
    min-width: 500px;
    margin-top: -4px;
}
.option{
    background-color: #e4ecf5;
    border: 1px solid #9fbced;
    margin-top: 2px;
}
.tool_bg .btn{
    width: 80px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #333;
    background-color: #fff;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
}
.tool_bg .right{
    height: 26px;
    line-height: 26px;
    float: right;
}
#documents{
    margin-top: 10px;
    background-color: #e4ecf5;
    height: 480px;
}
#documentinfos{
    margin-right: 250px;
    overflow: auto;
}
.documenttext{
    margin: 20px;
}
.documenttext .line{
    margin: 15px 10px;
}
.documenttext .line .labtitle{
    float: left;
    width: 66px;
    height: 24px;
    line-height: 24px;
    text-align: right;
    margin: 0 10px 0 0;
}
.documenttext .line .botton{
    display: block;
    margin-left: 76px;
}
.documenttext .line .botton input{
    width: 100%;
}
.documenttext .line .new{
    float: left;
    margin: 2px auto;
    width: 70px;
    height: 20px;
    line-height: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 2px;
}
.documenttext .line .textarea{
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 5px;
    display: block;
    margin-left: 76px;
}
.documenttext .line textarea {
    width: 100%;
    height: 86px;
    margin: 0;
    padding: 0;
    resize: none;
    border: none;
}


#contacts{
    position: absolute;
    top: 105px;
    right: 10px;
    width: 180px;
    background-color: #fff;
    border: 1px solid #9fbced;
}
#contacts .lb{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
}
#contacts .lm_sbar{
    padding: 7px 6px 4px;
    _padding-left: 3px;
    height: 22px;
    line-height: 11px;
    border-bottom: 1px solid #9fbced;
}
#contacts .lm_sbar .lm_sopen {
    background: url(../images/pic/compose14a9c5.png) 0 -312px no-repeat;
    width: 19px;
    height: 20px;
    padding: 0;
    border: none;
    float: right;
}
.lm_sbar div {
    overflow: hidden;
}
#contacts .lm_sbar .txt{
    border-right: medium none;
    margin: 0;
    color: rgb(160,160,160);
    width: 100%;
    height: 14px;
}
#contacts .lm_panel{
    overflow: auto;
    height: 377px;
    position: relative;
}
.lm_panel .groupopen{
    background-color: #e4ecf5;
    border-bottom: 1px solid #9fbced;
    right:0;
    left: 0;
    cursor: pointer;
}
.lm_panel .groupopen .qqshowbd{
    height: 22px;
    line-height: 22px;
    padding-left: 5px;
}
.lm_panel .groupsub .groupclose{
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    padding-left: 30px;
}
.lm_panel .groupsub .groupclose:hover{
    background-color: #ffeec2;
}




