.dtitle span{
    font-size: 14px;
    font-weight: bold;
}
.ddetail{
    margin-left: 400px;
}
.ddetail ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    width: 250px;
    float: left;
}
.ddetail ul li{
    height: 24px;
    line-height: 24px;
    display: block;
}
.ddetail ul li span{
    font-size: 12px;
    line-height: 24px;
    width: 180px;
    display: block;
    float: left;
}
.ddetail ul li span.linetitle{
    width: 68px;
    font-weight: bold;
    text-align: left;
}

.tab{
    height: 40px;
    border: 1px solid #e1e1e1;
}
.tab ul{
    height: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.tab ul li{
    height: 40px;
    display: block;
    float: left;
    border-right: 1px solid #e1e1e1;
    cursor: pointer;
}
.tab ul li.selected{
    cursor: default;
}
.tab ul li span{
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    display: block;
    background-color: #ffffff;
}
.tab ul li.selected span{
    margin-top: -1px;
    border-top: 2px solid #69cfff;
    background-color: #f6f6f6;
}
.listhead{
    height: 30px;
    border: 1px solid #e1e1e1;
    border-top: none;
    background-color: #f6f6f6;
}
.listhead ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.listhead ul li{
    height: 30px;
    display: block;
    float: left;
}
.listhead ul li span{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    display: block;
    padding: 0 5px;
    text-align: center;
}
.list{
    border: 1px solid #e1e1e1;
}
.list .listbody{
    height: 30px;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
}
.list .listbody.last{
    border-bottom: none;
}
.list .listbody.selected{
    background-color: #f6f6f6;
    cursor: default;
}
.list .listbody ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.list .listbody ul li{
    height: 30px;
    display: block;
    float: left;
}
.list .listbody ul li span{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    display: block;
    padding: 0 5px;
    color: #666;
}
.list .listbody .center span{
    text-align: center;
}

.history,.gps{
    border: 1px solid #e1e1e1;
}
.history ul{
    margin: 0;
    padding: 10px 19px;
    list-style: none;
}
.history ul li{
    padding: 4px 5px 4px 145px;
    margin-top: 3px;
}
.history ul li:hover{
    background-color: #f6f6f6;
}
.history ul li.active{
    border: 1px solid #f0f0f0;
    background-color: #f6f6f6;
}
.history ul li span{
    font-size: 12px;
    line-height: 24px;
}
.history ul li .time{
    position: absolute;
    margin-left: -125px;
}
.history ul li:hover:not(.active) .text{
    padding-right: 20px;
    background: url(../images/history/active.png) no-repeat right -2px;
}
.history ul li .info{
    display: none;
    color: #858585;
}
.history ul li.active .info{
    display: block;
}
.history ul li .info .line{
    padding: 5px 0;
    border-bottom: 1px solid #e1e1e1;
}
.history ul li .info .up{
    border-top: 1px solid #fff;
}
.history ul li .info .infotext{
    padding-right: 1em;
    line-height: 26px;
}
.history ul li .info span{
    float: left;
    padding-right: 25px;
}
.gps .framebox{
    height: 400px;
    padding: 10px;
}