.tittle{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
}
.alist{
    margin-top: 30px;
    position: relative;
}

.alist ul{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 650px;
}
.alist ul li{
    margin: 5px auto;
    line-height: 22px;
    display: block;
}
.alist ul li img{
    display: inline-block;
}
.alist ul li label{
    width: 180px;
    text-align: right;
    vertical-align: top;
    display: inline-block;
}
.alist ul li label.note{
    width: 300px;
    margin-left: 125px;
    color: #999999;
    text-align: left;
}
.alist ul li span{
    margin-right: 8px;
}
.alist ul li span.top{
    vertical-align: top;
}
.alist ul li input{
    width: 150px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #cccccc;
    margin-right: 10px;
}

.textarea{
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 5px;
    display: inline-block;
}
textarea {
    width: 450px;
    height: 86px;
    margin: 0;
    padding: 0;
    resize: none;
    border: none;
}
.alist ul li a{
    color: #36c;
    text-decoration: none;
}
.alist ul li a:hover{
    color: #f60;
    text-decoration: underline;
}
.alist ul li select{
    height: 22px;
    line-height: 22px;
    border: 1px solid #cccccc;
    margin-right: 10px;
}
.alist .stock{
    display: inline-block;
}
.alist .stock a{
    border: 1px solid #A7A6AA;
    height: 9px;
    padding: 5px 0;
    vertical-align: top;
    display: inline-block;
    font-size: 0;
    width: 12px;
    overflow: hidden;
    text-align: center;
    background-color: #ededed;
    background-position: 3px -183px;
    overflow: hidden;
    line-height: 50px;
    background-image: url("../images/pic/T1_pgoXiNbXXXJfp.n-635-256.png");
}
.alist .stock a:hover{
    text-decoration: none;
    background-color: #fff;
}
.alist .stock a.increase{
    background-position: -42px -183px;

    margin-right: 2px;
}
.alist .stock a.reduce{

    margin-right: 2px;
}
.alist .stock a:hover.increase{
    background-position: -72px -183px;
}
.alist .stock a:hover.reduce{
    background-position: -27px -183px;
}
.alist .stock a.increase.disable,.alist .stock a:hover.increase.disable{
    background-position: -12px -183px;
    background-color: #ededed;
}
.alist .stock a.reduce.disable,.alist .stock a:hover.reduce.disable{
    background-position: -57px -183px;
    background-color: #ededed;
}
.alist .stock input.ibb{
    height: 16px;
    margin: -6px;
    padding: 3px 2px 0 15px;
    font-size: 12px;
    border: 1px solid #a7a6aa;
    outline: 0;
    border-right: 0;
    border-left: 0;
}
.alist ul li .info{
    border: 1px solid #dddddd;
    background-color: #f6f6f6;
    height: 125px;
}
.alist ul li .info ol{
    list-style: none;
    padding: 0;
}
.alist ul li .info ol li{
    margin: 5px 0 0 0;
}
.alist ul li .info ol .commom_info{
    margin: 0 10px;
}
.alist ul li .info ol li.selected{
    box-shadow: 3px 3px 0 #ccc;
    margin-bottom: 7px;
    width: 620px;
    background-color: #fff5cc;
    border: 1px solid #ffe580;
    height: 22px;
    display: block;
}
.alist ul li .info ol li label{
    margin-left: 12px;
    text-align: left;
    color: #abadb3;
 }
.alist ul li .info ol li .info_add input{
    width: 40px;
    height: 22px;
    line-height: 22px;
    margin: 0 auto;
}
.alist ul li .info ol li .info_add span{
    color: #333;
    margin: 0 auto;
    height: 22px;
    line-height: 22px;
    vertical-align: top;
}
.alist ul li .info ol li .info_add:hover{
    background-color: #FFFAE5;
}
.alist ul li .info ol li a{
    float: right;
    margin-right: 15px;
    color: #3366cc;
    text-decoration: none;
}
.alist ul li .info ol li a:hover{
    color: #f60;
    text-decoration: underline;
}
.alist ul li .info ol li a.l20{
    float: left;
    margin-left: 25px;
    text-decoration: underline;
}
.submit{
    text-align: center;
    margin-top: 20px;
    position: relative;
}
.submit hr{
    width: 900px;
}
.submit a{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
.submit a .submit_tb{
    background-color: #2a8cfa;
    margin: 10px auto;
    width: 80px;
    height: 40px;
    border-radius: 4px;
}
.submit .submit_tb a:hover{
    text-decoration: underline;
    color: #f60;
}

.alist ul li .state ol li{
    margin: 5px 0 0 0;
}
.alist ul li .state {
    border: none;
    background-color: #fff;
    height: 22px;
}
.alist ul li input.state{
    width: 20px;
    margin-right: 0;
    vertical-align: top;
    margin-left: 17px;
}
.alist ul li a.state_tb{
    color: #333;
    vertical-align: bottom;
}











