.list{
    border: 1px solid #efefef;
    border-bottom: none;
}
.list .listhead{
    height: 30px;
    border-bottom: 1px solid #efefef;
    background-color: #f7f7f7;
}
.list .listbody{
    height: 50px;
    border-bottom: 1px solid #efefef;
    background-color: #ffffff;
}
.list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.list .listhead ul li{
    display: block;
    float: left;
    height: 30px;
    background-color: #f7f7f7;
    border-right: 1px dotted #d7d7d7;
}
.list .listhead ul li.last{
    border-right: none;
}
.list .listhead ul li span{
    margin: 0;
    padding: 0 6px;
    font-size: 12px;
    line-height: 30px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}
.list .listbody ul li{
    display: block;
    float: left;
    height: 50px;
    background-color: #ffffff;
    border-right:1px solid transparent;
    overflow: hidden;
}
.list .listbody ul li span{
    margin: 0;
    padding: 0 6px;
    font-size: 12px;
    line-height: 50px;
    display: block;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list .listbody ul li.noover span{
    line-height: 14px;
    margin-top: 12px;
    white-space: normal;
    text-overflow: clip;
    overflow: hidden;
}
.list .listbody ul li span.textup{
    line-height: 14px;
    margin: 8px 0 0 0;
    padding-left: 12px;
}
.list .listbody ul li span.textdown{
    margin: 6px 0 0 0;
    padding-left: 12px;
    line-height: 14px;
    color: #b6b6b6;
}
.listbody ul li span.left{
    text-align: left;
 }
.listbody ul li span.center{
    text-align: center;
}
.listbody ul li span.right{
    text-align: right;
}

.listbody ul li .button{
    height: 22px;
    line-height: 22px;
    color: #ffffff;
    border: 1px solid #2a80ea;
    background-color: #2a8cfa;
    margin: 14px 5px 0;
    padding: 0 6px;
    float: left;
    cursor: pointer;
}
.listbody ul li .button:hover{
    background-color: #2a80ea;
}
.listbody ul li .button span{
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    line-height: 22px;
}
.listbody ul li .button.orange{
    background-color: #f18e11;
    border-color: #d77a11;
}
.listbody ul li .button.orange:hover{
    background-color: #d77a11;
}