/*信息选择及提示样式*/
#Nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#Nav .NavLine{
    position: relative;
    line-height: 34px;
    border-bottom: 1px solid #eee;
    background-image:url(../images/list/1px92percwhite.png);
}
#Nav .NavLine .Name{
    width: 86px;
    padding-left: 8px;
    text-align: right;
    float: left;
}
#Nav .NavLine .Name span{
    font-size: 13px;
}
#Nav .NavLine #TypeSelect{
    width: 100px;
    margin: 0;
    padding: 0;
    float: left;
}
#Nav .NavLine #TypeSelect select{
    margin: 7px 4px;
}
/*可选信息*/
#Tips{
    margin-left: 195px;
}
#Tips #input_box{
    display: block;
}
#Tips .Tip{
    margin: 0 auto;
    line-height: 32px;
}
#Tips .Tip.hidden{
    display: none;
}
#Tips .Tip ul.content,#Tips .Tip .tcontent{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 34px;
}
#Tips .Tip ul li{
    float: left;
    margin-right: 10px;
    font-size: 13px;
}
#Tips .Tip ul li.select{
}
#Tips .Tip ul li a{
    white-space: nowrap;
    cursor: pointer;
}
/*已选信息*/
#Nav .NavLine #Selected{
    height: 34px;
}
#Nav .NavLine #Selected li{
    height: 16px;
    line-height: 14px;
    display: block;
    float: left;
    margin: 8px 4px;
    border: 1px solid #6c8193;
    background: white;
}
#Nav .NavLine #Selected li a{
    font-size: 12px;
    display: block;
    padding: 1px 5px;
    text-align: left;
    float: left;
}
#Nav .NavLine #Selected li .cancel{
    width: 15px;
    height: 14px;
    display: block;
    float: right;
    margin: 1px;
    cursor: pointer;
    background-color: #6c8193;
    background-image: url("../images/nav/cancel.png");
    background-repeat: no-repeat;
}


