#button_box{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 58px;
    background-color: #fff;
    border-top: 1px solid #bfbfbf;
    text-align: center;
}
#button_box input{
    border: none;
    background-color: Transparent;
    background-image: url(../images/nav/button_bg.png);
    height: 52px;
    width: 114px;
    margin: 0;
    padding: 0;
    color: #2d516e;
    font-size: 15px;
    font-weight: bold;
    text-shadow: white 1px 1px 1px;
    margin: 5px auto;
    cursor: pointer;
}
#button_box ul{
    height: 26px;
    margin: 14px 10px 0;
    padding: 0;
    display: block;
    float: right;
}
#button_box ul li {
    float: left;
    margin: 0 5px;
    padding: 0;
    display: block;
    list-style: none;
    border: 1px solid #ccc;
    height: 28px;
    line-height: 28px;
    width: 80px;
}
#button_box ul li a{
    cursor: pointer;
}
#button_box ul li a:visited{
    color: #333;
}
#button_box ul li a:link{
    color: #333;
    text-decoration: none;
}
#button_box ul li a:hover{
    color: #0000FF;
}
#fancydiv{
    display: none;
}