#button_box{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 58px;
    background-color: #fff;
    border-top: 1px solid #bfbfbf;
    text-align: center;
}
#button_box input{
    border: none;
    background-color: Transparent;
    background-image: url(../images/nav/button_bg.png);
    height: 52px;
    width: 114px;
    margin: 0;
    padding: 0;
    color: #2d516e;
    font-size: 15px;
    font-weight: bold;
    text-shadow: white 1px 1px 1px;
    margin: 5px auto;
    cursor: pointer;
}