#SummaryTitle{
    text-align: center;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    padding: 20px 0;
    font-size: 18px;
}
#List
{
    overflow-x:auto;
    overflow-y:auto;
    padding:0px 35px;
    margin:0;
}
#List table{
    border: 1px solid #c1c1c1;
    border-right: none;
    border-bottom: none;
    font-size: 13px;
}
#List table td
{
    border-right:1px solid #c1c1c1;
    border-bottom:1px solid #c1c1c1;
    width: 80px;
    height:22px;
    line-height:22px;
    vertical-align:middle;
    padding:0 5px;
    background-color:#fff;
    white-space:nowrap;
}
#List table td.left
{
    text-align:left;
}
#List table td.center
{
    text-align:center;
}
#List table td.right
{
    text-align:right;
}
#List table .double td
{
    background-color:#f0f0f0;
}
#List table .sub td
{
    background-color:#ddd;
}
#List table td a
{
    padding:0;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:inline-block;
    text-decoration: none;
    color: #000000;
}
#List table td a:visited{
    color: #676767;
}
#List table td a:hover{
    color: #0000FF;
}

#List table thead td
{
    text-align:center;
    width: 100px;
    height:30px;
    background-color:#dddddd;
    white-space: nowrap;
}
#List table tbody tr{
    height: 27px;
}
#List table tbody tr.a1 td{
    background-color: #dddddd;
}
#List table tbody tr.a2 td{
    background-color: #dddddd;
}
#List table tbody tr.a3 td{
    background-color: #dddddd;
}
#List table tbody tr.a4 td{
    background-color: #dddddd;
}
#List table tbody tr.a5 td{
    background-color: #dddddd;
}
#List table tbody tr td span:not(.slide):not(.exist)
{
    display: inline-block;
    border-color:transparent transparent transparent #333;
    border-style:dashed dashed dashed solid;
    border-width: 4px 0 4px 4px;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    vertical-align: middle;
    margin: -2px 8px 0 5px;
}
#List table tbody tr.open td span:not(.slide):not(.exist)
{
    border-color:#333 transparent transparent transparent;
    border-style:solid dashed dashed dashed;
    border-width: 4px 4px 0 4px;
}
#List table tr.highlight td
{
    background-color:#AAA;
}
.tab_hide
{
    display:none;
}
.red
{
    color:Red;

}
.green
{
    color:Green;
}