#OverDisplay{
    position: absolute;
    top: 99px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
}
#OverDisplay .Bar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #ffffff;
}
#OverDisplay .Bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#OverDisplay .Bar ul li{

}
#OverDisplay .Display{
    position: absolute;
    top: 30px;
    left: 0;
    right:0;
    bottom: 0;
    right: 0;
    background-color: #fff;
}
#OverDisplay .Display #DisplayFrame{
    width: 100%;
    height: 100%;
}